@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

#cont-pokemones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container {
    padding-left: 10vw;
    padding-right: 10vw;
}

.pokemon-card {
    height: 50px;
    width: 150px;
    border: grey 2px solid;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#modal-pokemon {
    height: 100vh;
    width: 90vw;
    position: absolute;
    top: 0px;
    left: 0px;
    background: white;
    z-index: 1000;
    padding-left: 30px;
    padding-right: 30px;
}

.cont-habilidades {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    width: 90vw;
    overflow: auto;
}

.cont-title-close {
    display: flex;
    justify-content: space-between;
}

.move {
    height: 40px;
    padding: 10px;
    width: 150px;
    border: grey 2px solid;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
}