@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

body {
  font-family: 'Zen Tokyo Zoo', cursive;
}

#anuncio {
  display: none;
  height: 100vh;
  width: 100vw;
  background: red;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
}