@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: black;
}

img {
  height: 50%;
  width: 100%;
}

#imagen-2k {
  border-radius: 20px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#contenedor {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cont-imagen {
  height: 450px;
  width: 450px;
}